# populate it and make sure __pycache__ directories are ignored accross all folders
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.sqlite3
.env
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/
casbinenv/
.idea/
.vscode/
.DS_Store
*.log
*.pot
*.mo
*.swp
*.swo
*.bak
*.tmp
*.old
*.orig
*.rej
private/
